.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
h3 {
font-family: 'Indie Flower', cursive;
color: darkgreen;
}
h3:hover{
    color:orange;
    font-size: 30px;
    transition: 1s;
}
.social-icons {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
}
.social-icons li {
    margin: 0 10px;
}
.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #ff5a5f;
}
