.navbar-brand{
    padding: 20px;
    color: rgb(16, 143, 65);
}
.nav-link {
    padding: 20px;
    color: rgb(12, 157, 73);
}
.navbar-brand:hover{
    color:rgb(171, 224, 11);
    transition: 1s;
    font-size: 30px;
}