
    img {
    border: 2px solid rgb(14, 64, 14);
    height: 300px;
    width: 350px;
    margin: 20px;
     

}
 img:hover{
    border: 6px solid orange;
    height:350px;
    width:400px;
    transition: 0.9s;
    opacity: 0.6;
 }
h1{
    color:rgb(31, 138, 103); font-family: 'Indie Flower', cursive; font-size: 60px
}
h5
    {
     color:rgb(31, 138, 103); font-family: 'Indie Flower', cursive; font-size: 40px; 
    }
    .pr{
        margin: 4px;
        padding: 40px;
        color:rgb(31, 138, 103);
        font-size: 25px;
        font-family: 'Indie Flower', cursive;
    }

    p{
        font-family: 'Indie Flower', cursive;
        color:rgb(31, 138, 103);
        font-size: 40px;
    }