<div class="container">
    
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, dicta? Illo, ea fugiat voluptatibus voluptate eveniet, impedit quis neque explicabo odit excepturi aliquam consectetur sequi tempora laudantium ipsa culpa quia?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat esse est doloribus nesciunt repellat omnis laborum repellendus? Possimus dolore eligendi aut in illo! Velit quod nesciunt, tempore a in consequatur.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptatibus, quod adipisci facere nostrum tempore reprehenderit ut ipsa minima ducimus pariatur, ratione esse veritatis iste natus, vero et quasi voluptatum!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolor recusandae sequi dicta aperiam? Animi aperiam doloribus vitae! Illo optio minima assumenda repellendus veniam error odio sint. Quo, velit non.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum dignissimos animi veniam nostrum quas quam exercitationem tempore ducimus, quaerat distinctio voluptates, itaque quod dolorum repellendus sed? Dignissimos nostrum explicabo officiis?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus id quia doloremque! Doloremque quia, blanditiis possimus tempore rem quibusdam. Officiis dicta explicabo veniam nemo, id mollitia deserunt nostrum aliquam eius.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae omnis consequatur eaque harum mollitia quidem corrupti tenetur sequi obcaecati maiores tempore impedit tempora in odio quod, quae amet magni? Esse?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis neque atque quod repellendus eveniet ex, minima corrupti suscipit, tenetur rem sequi commodi magni sunt maiores architecto! Dolor sed natus voluptatem.</p>

</div>
</div>
