<app-hero-section></app-hero-section>

<div class="container">

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <p>Looking for an unforgettable Italian dining experience? Alone, with your beloved one or in company of friend
            and family? Look no further than Ristorante Da Mario! From the
            moment you step through our doors, you'll be transported to a world of cozy luxury and mouthwatering
            flavors.</p>
        <p>Our restaurant boasts an ambiance like no other, with warm lighting, elegant décor, and a welcoming
            atmosphere that will make you feel right at home no matter if you're looking for a romantic dinner for two
            or a
            gathering with family and friends.</p>

        <p> We are very proud of our chefs that specialize in traditional Italian
            cuisine,
            using only the freshest ingredients and latest technology to create dishes that are actually stunning. From
            classic pasta dishes
            to savory meat entrees, every bite is sure to
            transport you straight to the heart of Italy!</p>



    </div>
</div>